{% extends 'base.html' %}


{% block content %}
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<title>Welcome</title>

		<div class="container">
			<div class="row">
				<div class="col">
					<div class="card">
						<div class="card-body">
							<ul class="nav nav-tabs">
			                  <li class="active"><a data-toggle="tab" href="#encode">Encode</a></li>
			                  <li><a data-toggle="tab" href="#decode">Decode</a></li>
		                	</ul>

		                	<div class="tab-content">
		                		<div id ="encode" class="tab-pane fade in active">
		                			<h3>ENCODE</h3>
		                			<p>Provide the cover image file and secret text file and we will encode it for you</p>
	                  				<br/><br/>
	                  				<div class="form-group">
		                  				<form style="padding-left:20px; padding-right: 20px;" action="" method="POST">
		                  					{% csrf_token %}
		                  					<div class="row">
		                  						<div class="col">
		                  							<label for="coverimagepath" class="form-label">Cover Image Path (.jpg format)</label><br/>
		                  							{{ encodingform.user_input }}
		                  							<div id="pathHelp" class="form-text">Example: C:\Users\HP\Desktop\image.jpg</div>
		                  						</div>
		                  						<div class="col">
		                  							<label for="sercretdatapath" class="form-label">Secret Data Path (.txt format)</label><br/>
		                  							{{ encodingform.secret_data_path }}
		                  							<div id="secretdatapathhelp" class="form-text">Example: C:\Users\HP\Desktop\data.txt</div>
		                  						</div>
		                  					</div>

		                  					<br/><br/>

		                  					<div class="row">
		                  						<div class="col">
		                  							<label for="layerchoice" class="form-label">Layer Name (r / g / b)</label><br/>
		                  							{{ encodingform.layer_choice }}
		                  							<div id="layerchoiceHelp" class="form-text">Give The Layer Name To Hide The Data</div>
		                  						</div>
		                  						<div class="col">
		                  							<label for="stegofilename" class="form-label">Stego File Name (without any extension)</label><br/>
		                  							{{ encodingform.stego_file_name }}
		                  							<div id="filenameHelp" class="form-text">Name Of The Image File After Encoding The Data</div>
		                  						</div>
		                  					</div>

		                  					<br/><br/>
		                  					<div class="row">
		                  						<div class="col">
		                  							<label for="stegofilelocation" class="form-label">Directory To Save The Stego Image</label>
		                  							{{ encodingform.file_location }}
		                  							<div id="locationHelp" class="form-text">Example: C:\Users\HP\Desktop</div>
		                  						</div>
		                  						<div class="col">
		                  							
		                  						</div>
		                  					</div>

		                  					<br/>
		                  					<div class="row">
		                  						<div class="col">
		                  							<button type="submit" class="btn btn-primary">Encode</button>
		                  						</div>
		                  					</div>


		                  				</form>
	                  				</div>
		                		</div>
		                		<div id="decode" class="tab-pane fade">
		                			<h3>DECODE</h3>
		                			<p>Provide the stego image file and we will extract the secret text for you</p>
		                			<br/><br/>
		                			<div class="form-group">
		                				<form style="padding-left:20px; padding-right: 20px;" action="/processcompleted" method="POST">
		                					{% csrf_token %}
		                					<div class="row">
		                						<div class="col">
		                							<label for="stegoimagepath" class="form-label">Stego Image Path (.png format)</label>
		                							{{ decodingform.user_input }}
		                							<div id="pathHelp" class="form-text">Example: C:\Users\HP\Desktop\stego_image.png</div>
		                						</div>
		                						<div class="col">
		                							<label for="layerchoice" class="form-label">Layer Name (r / g / b)</label>
		                							{{ decodingform.layer_choice }}
		                							<div id="layerchoiceHelp" class="form-text">Give The Layer Name To Retrieve The Data</div>
		                						</div>
		                					</div>

		                					<br/><br/>
		                					<div class="row">
		                						<div class="col">
		                							<label for="retrievedfilename" class="form-label">Retrieved Data File Name (without any extension)</label>
		                							{{ decodingform.stego_file_name }}
		                							<div id="filenameHelp" class="form-text">Name Of The Text File Where Retrieved Secret Data Is Stored</div>
		                						</div>
		                						<div class="col">
		                							<label for="datafilelocation" class="form-label">Directory To Save The Retrieved Data</label>
		                							{{ decodingform.file_location }}
		                							<div id="locationHelp" class="form-text">Example: C:\Users\HP\Desktop</div>
		                						</div>
		                					</div>

		                					<br/>
		                					<div class="row">
		                						<div class="col">
		                							<button type="submit" class="btn btn-primary">Decode</button>
		                						</div>
		                					</div>
		                				</form>
		                			</div>
		                		</div>
		                	</div>
						</div>
					</div>
				</div>
			</div>
		</div>

{% endblock %}

