{% extends 'base.html' %}


{% block content %}
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<style>

    footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
        padding: 3px;
        background-color: rgba(0, 0, 0, 0.2);
        color: black;
    }

</style>

	<title>Welcome</title>

		<div class="container">
			<div class="row">
				<div class="col">
					<div class="card">
						<div class="card-body">
							<ul class="nav nav-tabs">
			                  <li class="active"><a data-toggle="tab" href="#encode">Encode</a></li>
			                  <li><a data-toggle="tab" href="#decode">Decode</a></li>
		                	</ul>

		                	<div class="tab-content">
		                		<div id ="encode" class="tab-pane fade in active">
		                			<h3>ENCODE</h3>
		                			<p>Provide the cover image file and secret text file and we will encode it for you</p>
	                  				<br/><br/>
	                  				<div class="form-group">
		                  				<form style="padding-left:20px; padding-right: 20px;" action="" method="POST" enctype="multipart/form-data">
		                  					{% csrf_token %}
		                  					<div class="row">
		                  						<div class="col">
		                  							<label for="coverimagepath" class="form-label">Upload Cover Image File</label><br/>
		                  							{{ encodingform.user_input }}
		                  						</div>
		                  						<div class="col">
		                  							<label for="sercretdatapath" class="form-label">Upload Secret Data File (.txt format)</label><br/>
		                  							{{ encodingform.secret_data_path }}
		                  						</div>
		                  					</div>

		                  					<br/><br/>

		                  					<div class="row">
		                  						<div class="col">
		                  							<label for="layerchoice" class="form-label">Layer Name (r / g / b)</label><br/>
		                  							{{ encodingform.layer_choice }}
		                  							<div id="layerchoiceHelp" class="form-text">Give The Layer Name To Hide The Data</div>
		                  						</div>
		                  						<div class="col">
		                  							<label for="stegofilename" class="form-label">Stego File Name (without any extension)</label><br/>
		                  							{{ encodingform.stego_file_name }}
		                  							<div id="filenameHelp" class="form-text">Name Of The Image File After Encoding The Data</div>
		                  						</div>
		                  					</div>


		                  					<br/>
		                  					<div class="row">
		                  						<div class="col">
		                  							<button type="submit" class="btn btn-primary">Encode</button>
		                  						</div>
		                  					</div>


		                  				</form>
	                  				</div>
		                		</div>
		                		<div id="decode" class="tab-pane fade">
		                			<h3>DECODE</h3>
		                			<p>Provide the stego image file and we will extract the secret text for you</p>
		                			<br/><br/>
		                			<div class="form-group">
		                				<form style="padding-left:20px; padding-right: 20px;" action="/processcompleted" method="POST" enctype="multipart/form-data">
		                					{% csrf_token %}
		                					<div class="row">
		                						<div class="col">
		                							<label for="stegoimagepath" class="form-label">Upload Stego Image File (.png format)</label>
		                							{{ decodingform.user_input }}
		                						</div>
		                						<div class="col">
		                							<label for="layerchoice" class="form-label">Layer Name (r / g / b)</label>
		                							{{ decodingform.layer_choice }}
		                							<div id="layerchoiceHelp" class="form-text">Give The Layer Name To Retrieve The Data</div>
		                						</div>
		                					</div>

		                					<br/>
		                					<div class="row">
		                						<div class="col">
		                							<button type="submit" class="btn btn-primary">Decode</button>
		                						</div>
		                					</div>
		                				</form>
		                			</div>
		                		</div>
		                	</div>
						</div>
					</div>
				</div>
			</div>
		</div>


<footer>
      Department of Information Technology, Jadavpur University, Kolkata<br/>
      Made By Ankan Banerjee <a href="mailto:ankan1096@gmail.com">ankan1096@gmail.com</a> <br/>
      Under the guidance of Prof. Utpal Kumar Ray <a href="mailto:utpal.ray@jadavpuruniversity.in">utpal.ray@jadavpuruniversity.in</a> <br/>
      Mentorship of Mr Sujay Kumar Paul <a href="mailto:sujaykumarpaul@gmail.com">sujaykumarpaul@gmail.com</a>
</footer>

{% endblock %}

