{% extends 'base.html' %}


{% block content %}
<br/><br/>

{% if type %}
	<div class="container">
		<div class="card">
			<div class="card-header text-white bg-success mb-3">
				<b>Decoding Process Completed Successfully!!</b>
			</div>
			<div class="card-body">
				<form style="padding-left:20px; padding-right: 20px;" action="/secret_text_download" method=POST>
					{% csrf_token %}
				<button type="submit" class="btn btn-primary">Click Here </button> to downlaod the secret text file
				</form>
			</div>
		</div>
	</div>
	
{% else %}
	<div class="container">
		<div class="card">
			<div class="card-header text-white bg-success mb-3">
				<b>Encoding Process Completed Successfully!!</b>
			</div>
			<div class="card-body">
				<a href="{{uploaded_file_url}}" download="">Click here </a> to download the STEGO IMAGE<br/>
			</div>
		</div>
	</div>
{% endif %}
{% endblock %}